* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#total {
  padding: 2px 10px;
  margin-top: 5px;
  margin-left: 2px;
  color: #fff;
}

#total::before {
  content: "Total:";
}

#searchtitle {
  width: 49%;
}

#searchcategory {
  width: 49%;
}


.containerr {
  scroll-snap-type: x mandatory;
  padding: 10px;
  gap: 10px;
  scroll-padding: 10px;
  width: 100%;

}

@media (max-width:991px) {
  .containerr {
    overflow: auto;
  }
}

.containerr .item {
  scroll-snap-align: start;
  flex: 0 0 60%;
  /* background: linear-gradient(120deg, coral 30%, rgb(255, 187, 163) 88%, rgb(255, 185, 160) 40%, coral 48%); */
  display: flex;
  justify-content: center;
  align-items: center;
  color: bisque;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.3em;
  font-weight: 400;
  font-family: sans-serif;
  border-radius: .2rem;
}

/* BTN */
.btn:hover {
  color: #fff;
}

.btnColor {
  background: #183153 !important;
  border: none;
  color: #fff;
}

.BtnSearch {
  width: 40%;
  margin: 10px 0;
  background: #183153 !important;
  border: none;
  color: #fff;

}

@media (max-width:551px) {
  .BtnSearch {
    width: 48%;


  }
}

.btnDelet {
  background-color: #BF0426;
  border: none;
  color: #fff;

}

.btnDelet:hover {
  background-color: #BF0426;
  border: none;
  color: #fff;
}

.btnUpdate {
  background-color: #007ACC;
  border: none;
  color: #fff;
}

.btnUpdate:hover {
  background-color: #007ACC;
  border: none;
  color: #fff;
}

.total {
  background-color: #183153;
}